body{
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    height: fit-content;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    /* linear-gradient(to right, #0f0c29, #302b63, #24243e); */
}
.title-superheroes{
    display: block;
    margin: auto auto;
    width: 300px;
    text-align: center;
 
}
/* .list-heroes-id {
  
} */
.div-publishers{
    background-color: #9ca6d7;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-right: 30px;
    margin-left: 5px;
}
.result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    
}
.divider{
    background-color: rgb(200, 197, 197);
    min-height: 2px;
    margin: 5px;
}
.heroes-div{
    margin: 0;
    background-color: #9ca6d7;
    width: 200px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}
/* .divForSearchField{
    margin: 5px;
    background-color: #9ca6d7;
    border: 1px solid transparent;
    border-radius: 10px;

} */
.btn{
    width: 90px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(189, 185, 185);
}
.btn:hover {
    background-color: rgb(228, 225, 225);
}
.input{
    width: 100px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 3px;
}
.id-search {
    display: block;
    margin: auto auto;
    margin-top: 30px;
    width: 310px;
}
.list-publishers{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.list-publishers li {
    margin: 10px;
}
.publisher-header{
    margin: 10px 0 0 33px;
}
.display-publishers {
    display: block;
    margin: auto auto;
    margin-top: 30px;
    width: 90px;
}
.box-for-list{
    background-color: rgb(214, 210, 210);
    padding: 18px;
    padding-top: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.field-search {
    display: block;
    margin: auto auto;
    width: 209px;
    margin-top: 30px;
}

.limit-search{

    display: block;
    margin: auto auto;
    width: 440px;
    margin-top: 30px;
}

.display-heroes-list {
    display: block;
    margin: auto auto;
    width: 425px;
    margin-top: 30px;

}

.create-new-list{
    display: block;
    margin: auto auto;
    width: 307px;
    margin-top: 30px;
}
.find-list-display{
    display: block;
    margin: auto auto;
    width: 208px;
    margin-top: 30px;
}
.sort{
    display: block;
    margin: auto auto;
    width: 208px;
    margin-top: 30px;
    margin-bottom: 30px;
}