.admin-header {
    display: block;
    width: 400px;
    margin: auto auto;
    color: rgb(104, 17, 17);

}
.headerOfContainers {
    margin-left: 125px;
}
.display-reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 120px;
    row-gap: 5px;
    column-gap: 5px;
}
.review-box{
    background-color: rgb(210, 207, 255);

}
.btn-admin{
    margin-left: 125px;
    margin-bottom: 10px;
}
.email-input-admin{
    margin-left: 125px
}
.policy-input{
    width: 900px;
    height: 800px;
}
/* .manage-policy-container{
    display: block;
    margin: auto auto;
    width: 900px;
} */
.policy-input{
    display: block;
    margin: auto auto;

}
.input-identifier-policy{
    display: block;
    margin-left: 180px;
}
.title-select{
    margin-left: 180px;

}
.display-policy{
    margin-left: 270px;
    text-wrap: wrap;
}
.btn-policy{
    margin-left: 180px;

}