#superhero-div-id{
    width: fit-content;
    height: fit-content;
}
.hero-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.label-heroes{
    background-color: rgb(243, 224, 244);
    border: 1px solid black;
    padding: 10px;
}
.hero-content-container {
    background-color: rgb(243, 224, 244);
    height: max-content;
}
.hero-attribute {
    margin: 0px;
    font-size: smaller;
}
.hero-div {
    width: fit-content;
    background-color: rgb(243, 224, 244);
}
.search-bar {
    margin-bottom: 10px;
}
.label {
    margin-right: 2px;
    display: inline-block;
}
.input-field {
    margin-right: 10px;
    margin-left: 2px;
}