body{
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.intro {
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    background-color: rgb(246, 195, 248);
}

button {
    border-radius: 10px;
    border: 2px solid crimson;
    background-color: aquamarine;
    transition-duration: 0.4s;
}
button:hover {
    background-color: wheat;
}
.admin {
    background-color: paleturquoise;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}
input {
    width: 5ch;
}